<%= form_with(model: costumer, local: true) do |form| %>
  <% if costumer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(costumer.errors.count, "error") %> prohibited this costumer from being saved:</h2>

      <ul>
      <% costumer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, :required => true %>
  </div>

  <div class="field">
    <%= form.label :adress %>
    <%= form.text_field :adress, :required => true %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, :required => true %>
  </div>

  <div class="field">
    <%= form.label :payment_prefer %>
    <%= form.select :payment_prefer, ["Credit Card", "Transfer Bank", "Ticket", "Others"], {}, {:class => 'form-select', :id =>'payment_input', :required => true}  %>
    <input class="d-none" type="text" disabled id="payment_other_show">
    <div id="payment_other_div" class="d-none">
    <input class="" type="text" id="payment_other">
      <button type="button" class="btn btn-primary" id="payment_submit">
          Adicionar
      </button>
      </div>
  </div>
  <div class="fiels">
    <%= form.text_field :payment_prefer_name, :class => 'd-none', :id => "payment_prefer_name"%>
  </div>

  <div class="actions">
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
<% end %>

<script>
  $('#payment_input').change(function () {
        teste = $('#payment_input').val()
        console.log(teste)
    payment =  $('#payment_input').val()
    if (payment == "Others"){
      $('#payment_other_div').removeClass('d-none')
    }
    else{
      $('#payment_other_div').addClass('d-none')
      $('#payment_other_show').addClass('d-none')
    }

  })
  $('#payment_submit').on('click',function () {
    payment_other = $('#payment_other').val()
    $('#payment_other_show').val(payment_other).attr('disabled', true).removeClass('d-none')
    $('#payment_input').val(payment_other)
  })
</script>