<%= form_with(model: ecom_order, local: true, class: 'bg-success p-4 rounded-3 text-black fs-4') do |form| %>
  <% if ecom_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ecom_order.errors.count, "error") %> prohibited this ecom_order from being saved:</h2>

      <ul>
      <% ecom_order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @has_created == true  %>
    <div class="d-flex justify-content-end">
      <%= link_to '<i class="fas fa-eye"></i>'.html_safe, ecom_order_path, class: 'fs-4 text-white btn' %>
    </div >
  <% end %>

  <div class="field pt-2">
    <%= form.label :price, {:class => "form-label"}%>
    <%= form.text_field :price, {:class => "form-control", :disabled => "true"} %>
  </div>

  <div class="field pt-2">
    <%= form.label :num_items_shipped, {:class => "form-label"} %>
    <%= form.text_field :num_items_shipped, {:class => "form-control", :disabled => "true"} %>
  </div>

  <div class="field pt-2">
    <%= form.label :status, {:class => "form-label"} %>
    <%= form.select :status, [["Confirmed", "confirmed"], ["Shipped", "shipped"], ["Done", "delivered"]], {}, {:class => 'form-select'} %>
  </div>

  <div class="field pt-2 row px-3">
    <%= form.label :purchase_date, {:class => "form-label row"} %>
    <%= form.datetime_select :purchase_date, {selected: Date.today, discard_hour: true, order: [:day, :month, :year]}, {:class => "form-select col"}  %>
  </div>

  <div class="field pt-2">
    <%= form.label :item_sku, {:class => "form-label"} %>
    <%= form.text_field :item_sku, {:class => "form-control", :disabled => "true"} %>
  </div>

  <div class="field pt-2">
    <%= form.label :sales_channel, {:class => "form-label"} %>
    <%= form.select :sales_channel, [["Amazon", "amazon.com"],["Ebay", "ebay.com"]], {}, {:class => 'form-select'} %>
  </div>

  <div class="field pt-2">
    <%= form.label :customer_name, {:class => "form-label"} %>
    <%= form.select :customer_name, @costumers_name, {}, {:class => 'form-select'} %>
  </div>

  <div class="field pt-2">
    <%= form.label :customer_state, {:class => "form-label"} %>
    <%= form.text_field :customer_state, {:class => "form-control disable_input",  :id => 'state_input' }%>
  </div>

  <div class="field pt-2">
    <%= form.label :paymethod_method, {:class => "form-label"} %>
    <%= form.select :paymethod_method, [["Credit Card", "CC"], ["Transfer Bank", "TB"], ["Ticket", "T"], ["Others", "OT"]], {}, {:class => 'form-select', :id =>'payment_input'} %>
  </div>

  <div class="actions text-end">
    <%= form.submit class:'btn btn-danger fs-3 px-5',value: btn_submit %>

  </div>
<% end %>
<script>
    $('.disable_input').prop('disabled', true);
    $('#ecom_order_customer_name').change(function () {
      $('#state_input').val($('#ecom_order_customer_name').val())
      $('#payment_input').val($('#ecom_order_customer_name').val())
    })

</script>